body {
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
    text-align: left;
}

h1 {
    margin-top: 10px;
}

.logo {
    height: 55px;
    width: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid white;
}

.nav-items {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-items li {
    margin: 0 10px;
}